@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Ubuntu:wght@500&display=swap");

.ubuntu {
  font-family: "Ubuntu", sans-serif;
  background: -webkit-linear-gradient(
    #eeeeee,
    #a19090,
    rgba(204, 204, 129, 0.933)
  );
  background-clip: padding-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 2px 2px #eeeeee;
}
.ubuntu:hover {
  background: -webkit-linear-gradient(
    #8b5858,
    #9aa190,
    rgba(94, 94, 91, 0.933)
  );
  background-clip: padding-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbg {
  background: rgb(2, 9, 23);
  background: linear-gradient(
    90deg,
    rgba(2, 9, 23, 1) 50%,
    rgb(9, 90, 104) 100%
  );
}

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #ffff;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.pop {
  font-family: "Poppins", sans-serif;
}
